.App {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background-color: white;
}


.note {
  background-color: aqua;
  text-align: left;
  width: 100vw;
  padding-left: 200px;
}
